# Python
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
.pdm-python
**/_version.py
*.so
dist/
build/

# Node
node_modules/

# PyTorch
*.pth
*.safetensors

# Data
*.tiff
*.dcm
*.png
*.gif
*.log
output/
*.gif