# Python
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
.pdm-python
**/_version.py

# Node
node_modules/

# PyTorch
*.pth
*.safetensors

# Data
*.tiff
*.dcm
*.png
*.gif
*.log
output/
*.gif

# Runs
# Year-based folders (e.g., 2025, 2024, etc.)
[0-9][0-9][0-9][0-9]-*
